[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
pydantic = "*"
transformers = "4.21.1"
torch = "1.12.1"
sentence-transformers = "2.2.2" 
fastapi-utils = "*"
fastapi-auth-middleware = "*"
labelatorio = "==0.2.2"
fastapi-oidc = "*"
install = "*"
persist-queue = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
